#main
{
	width: 900px;  
	
	/*margin: 0 auto;*/
	/* margin: 0 auto 0 auto; */
	/*text-align: left;  */
	/* background-color:red; */
	/*
	border: 1px solid #FFFF44; 
	*/
	float:left;
}

#toeic_table{
	width:900px;
	border-spacing:0;


}

#toeic_table tr:hover{
	background-color:yellow;

}

#toeic_table th{
	padding: 7px 10px; 
	text-align: center;
	color: #333;
	background-color: #eee;
	border: 1px solid #b9b9b9;
}
#toeic_tabletd{
	padding: 10px 12px; 
	text-align: center;
	background-color: #fff;
	border: 1px solid #b9b9b9;
}

/*
table{
	/* width:auto; */
	width:900px;
	/* s */
	border-spacing:0;
	/* font-size:14px; */

}
table tr:hover{
	background-color:yellow;

}
table th{
/* width: 25%; */
/* padding: 6px; */
 padding: 7px 10px; 
text-align: center;
/* vertical-align: top; */
color: #333;
background-color: #eee;
border: 1px solid #b9b9b9;
}
table td{
/* padding: 6px; */
/* padding: 8px 15px; */
 padding: 10px 12px; 
text-align: center;
background-color: #fff;
border: 1px solid #b9b9b9;
}
*/