@charset "utf-8";

#menu{
	/*
	border: 1px solid #FF00FF;
	*/
	width: 130px;
	float:left;
}
#profile{
	/* float:left; */
	/*
	border: 1px solid lime;
	*/

}

nav{
	
	border: 1px solid blue; 
	}


#dropMenu{
			padding-left:0px;
			/*list-style-type: none;*/
			/*width: 1200px;*/
			/*width: 900px;*/
			/* width: 100%; */
			/* height: 40px; */
			/*margin: 30px auto 300px;*/
			/* margin: 10px auto 10px; */
			/* padding: 0; */
			/*background: darkcyan;*/
			/*border-bottom: 5px solid #535d09;*/
			/* border-bottom:inset 5px blue; */
			/* border-radius: 3px 3px 0 0; */
			/* color: white; */
		}
#dropMenu li{
			/*position: relative;*/
			/*position: absolute;*/
			/* width: 25%; */
			/* float: left; */
			/* margin: 0; */
			/* padding: 0; */
			/* text-align: center; */
			/* font-size: x-large; */
			/* font-family: Impact,Charcoal; */
			}
/* #dropMenu a{text-decoration: none;} */
/* #dropMenu a:link{color:darkgoldenrod;}
#dropMenu a:visited{	color:darkgoldenrod;}
#dropMenu a:hover{color:khaki;} */